:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-family: f2;
  /* font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black1: rgb(26, 26, 26);
}

.webgl{
  /* z-index: 10;
  position: absolute; */
}

@font-face {
  font-family: f1;
  src: url("/Fonts/f1.woff2");
}
@font-face {
  font-family: f2;
  src: url("/Fonts/f2.woff2");
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
}

a{
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 100;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
  box-sizing: border-box;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/**/
body{
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e3e3e3",GradientType=1);

  
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  
}

.border{
  border: 2px solid red;
}

.body{
  min-width: 100vw;
  min-height: 100vh;
  color: #1a1a1a;
}

/*colors*/
.cLw{
  color: rgba(0, 0, 0, 0.615);
}
.clB{
  color: #1a1a1a;
}

/*flex*/
.flex{
  display: flex;
}
.flexC{
  display: flex;
  flex-direction: column;
}
.textC{
  text-align: center;
}
.justifyC{
  justify-content: center;
}
.justifyBw{
  justify-content: space-between;
}
.alignC{
  align-items: center;
}
.flexWrap{
  flex-wrap: wrap;
}

.placeC{
  display: grid;
  place-items: center;
}

/*gaps*/
.gap5{
  gap: 5rem;
}
.gap4{
  gap: 4rem;
}
.gap3{
  gap: 3rem;
}
.gap2{
  gap: 2rem;
}
.gap1{
  gap: 1rem;
}
.gap1_1{
  gap:1.5rem
}
.gap0{
  gap: 0.5rem;
}
.gap00{
  gap: 0.2rem;
}
.gap000{
  gap: 0.1rem;
}

/*margins*/
.mgB1{
  margin-block: 0.5rem;
}
.mgT2{
  margin-top: 2rem;
}
.mgT5{
  margin-top: 5rem;
}
.mgT7{
  margin-top: 7rem;
}

/*padding*/
.pdI2{
  padding-inline: 2rem;
}
.pdI3{
  padding-inline: 3rem;
}
.pdI1{
  padding-inline: 1rem;
}
.pd1{
  padding: 1rem;
}
.pdB0{
  padding-block: 0.5rem;
}

/*widths*/
.wMax{
  width: max-content;
}
.w100{
  width: 100%;
}
.h100Percent{
  height: 100%;
}
.h100{
  height: 100vh;
}
.h90{
  height: 90vh;
}



/*overflow*/
.overflowXH{
  overflow-x: hidden;
}

/*font size and weight*/
.bold{
  font-weight: bold;
}
.bolder{
  font-weight: bolder;
}
.lightBold{
  font-weight: 550;
}
.fs1{
  font-size: 1.25rem;
}
.fs0{
  font-size: 0.9rem;
}
.fs2{
  font-size: 2rem;
}
.fsXl{
  font-size: 5rem;
  line-height: 5rem;
}

/*positions*/
.absolute{
  position: absolute;
}


/*hover effects*/
.blackHover:hover{
  background-color: rgb(52, 52, 52);
}
.whiteHover:hover{
  background-color: #cdcdcd;
}

/*images*/
.boxImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*wrap*/
.noWrap{
  white-space: nowrap;
}

/*search*/
.searchButton{
  /* width: 50px; */
  width: auto;
  height: 40px;
  border-radius: 0;
  
}
.searchBox{
 background-color: #eaeaea;
 padding-inline: 2rem; 
 outline: none;
 border: 1px solid rgba(128, 128, 128, 0.437);
 color: #1a1a1a;
 font-size: 1rem;
 width: 70%;
}
.searchBox:hover::placeholder {
  color: rgb(39, 39, 39);
  
}

/*character width*/
.maxW40Ch{
  max-width: 40ch;
}


/*dec1Button*/
.dec1ButtonWrapper{
  position: relative;
  background: linear-gradient(to right, rgb(220, 195, 126), rgb(193, 119, 211));
  padding: 0.1rem ;
  border-radius: 999px;
  
}

.dec1Button{
  background: linear-gradient(to right, orange, purple);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
    padding: 0.1rem 2rem;
    border-radius: 999px;
    /* backdrop-filter: blur(0.5rem); */
    
}
.bgW{
  background-color: rgba(246, 252, 255, 0.948);
  
  border-radius: 999px;
}

/*absolute*/
.fixed{
  position: fixed;
  top: 0;
  
  backdrop-filter: blur(1rem);
}
.z100{
  z-index: 100;
}


.botIcon{
  border-radius: 50%;
  padding: 0;
  margin: 0;
  aspect-ratio: 1;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 3%;
  bottom: 3%;
}
.botIcon>img{
  border-radius: 50%;
  
}

.cardSection{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
  column-gap: 2rem;
  row-gap: 3rem;
  padding-inline: 5rem;
  
}
.museumCard{
  min-height: 300px;
  /* border: 2px solid red; */
  /* justify-content: space-between; */
  border: 1px solid rgba(0, 0, 0, 0.21);
  justify-content: center;
  box-shadow: 2px 2px rgb(235, 229, 229), 0em 0 .4em rgb(176, 176, 176);
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.5rem ;
}
.museumCard>div{
  height: calc(100% - 200px);
}
.museumCard:hover .museumImage{
  transform: scale(1.1);
  
}
.museumCard:hover{
  background-color: white;
}

.museumImage{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.2s ease-in-out;
  border-top-left-radius: 0.5rem ;
  border-top-right-radius: 0.5rem ;
}


/*media query*/
@media (max-width:768px) {
  .fs1{
    font-size: 1.25rem;
  }
  .fs0{
    font-size: 0.9rem;
  }
  .fs2{
    font-size: 1.5rem;
  }
  .fsXl{
    font-size: 4rem;
    line-height: 4rem;
  }
  .pdI2{
    padding-inline: 0.5rem;
  }
  .cardSection{
    column-gap: 2rem;
    row-gap: 3rem;
    padding-inline: 1rem;
    
  }
  
}
@media (max-width:600px) {
  .fsXl{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .gap2{
    gap: 1.2rem;
  }
}
@media (max-width:430px) {
  .fs1{
    font-size: 1rem;
  }
  .fsXl{
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .gap2{
    gap: 1rem;
  }
}